<div class="query">
    <form action="/query/index" method="post">
        url: 
        <input name="url" type="text" size="60" />
        <input type="submit" />
    </form>
</div>

<div class="content">
    <table>
        <tr>
            <td><b>server_name:</b></td>
            <td><%= @log_data.server_name %></td>
        </tr>
    
        <tr>
            <td><b>server_spec:</b></td>
            <td><%= @log_data.server_spec %></td>
        </tr>
    
        <tr>
            <td><b>log_time:</b></td>
            <td><%= @log_data.log_time %></td>
        </tr>
    
        <tr>
            <td><b>log_level:</b></td>
            <td><%= @log_data.log_level %></td>
        </tr>
    
        <tr>
            <td><b>req_originalUrl:</b></td>
            <td><%= @log_data.req_originalUrl %></td>
        </tr>
    
        <tr>
            <td><b>req_site:</b></td>
            <td><%= @log_data.req_site %></td>
        </tr>
    
        <tr>
            <td><b>req_searchKey:</b></td>
            <td><%= @log_data.req_searchKey %></td>
        </tr>
    
        <tr>
            <td><b>req_searchType:</b></td>
            <td><%= @log_data.req_searchType %></td>
        </tr>
    
        <tr>
            <td><b>req_enableThumbnail:</b></td>
            <td><%= @log_data.req_enableThumbnail %></td>
        </tr>
    
        <tr>
            <td><b>req_isItemDomain:</b></td>
            <td><%= @log_data.req_isItemDomain %></td>
        </tr>
    
        <tr>
            <td><b>req_bucketId:</b></td>
            <td><%= @log_data.req_bucketId %></td>
        </tr>
    
        <tr>
            <td><b>stat_behaviour_size:</b></td>
            <td><%= @log_data.stat_behaviour_size %></td>
        </tr>
    
        <tr>
            <td><b>stat_search_size:</b></td>
            <td><%= @log_data.stat_search_size %></td>
        </tr>
    
        <tr>
            <td><b>stat_rec_hot_size:</b></td>
            <td><%= @log_data.stat_rec_hot_size %></td>
        </tr>
    
        <tr>
            <td><b>stat_before_filter_size:</b></td>
            <td><%= @log_data.stat_before_filter_size %></td>
        </tr>
    
        <tr>
            <td><b>stat_filter_sum_in_phase_0:</b></td>
            <td><%= @log_data.stat_filter_sum_in_phase_0 %></td>
        </tr>
    
        <tr>
            <td><b>stat_filter_sum_in_phase_1:</b></td>
            <td><%= @log_data.stat_filter_sum_in_phase_1 %></td>
        </tr>
    
        <tr>
            <td><b>stat_filter_sum_in_phase_2:</b></td>
            <td><%= @log_data.stat_filter_sum_in_phase_2 %></td>
        </tr>
    
        <tr>
            <td><b>stat_filter_sum_in_phase_3:</b></td>
            <td><%= @log_data.stat_filter_sum_in_phase_3 %></td>
        </tr>
    
        <tr>
            <td><b>stat_filter_sum_in_phase_4:</b></td>
            <td><%= @log_data.stat_filter_sum_in_phase_4 %></td>
        </tr>
    
        <tr>
            <td><b>stat_filter_sum_in_phase_5:</b></td>
            <td><%= @log_data.stat_filter_sum_in_phase_5 %></td>
        </tr>
    
        <tr>
            <td><b>stat_filter_sum_size:</b></td>
            <td><%= @log_data.stat_filter_sum_size %></td>
        </tr>
    
        <tr>
            <td><b>stat_after_filter_size:</b></td>
            <td><%= @log_data.stat_after_filter_size %></td>
        </tr>
    
        <tr>
            <td><b>stat_return_size:</b></td>
            <td><%= @log_data.stat_return_size %></td>
        </tr>
    
        <tr>
            <td><b>stat_select_size:</b></td>
            <td><%= @log_data.stat_select_size %></td>
        </tr>
    </table>
</div>
