
<table>
    <tr>
        <td><b>server_name:</b></td>
        <td><%= @log_data.server_name %></td>
    </tr>

    <tr>
        <td><b>server_spec:</b></td>
        <td><%= @log_data.server_spec %></td>
    </tr>

    <tr>
        <td><b>log_time:</b></td>
        <td><%= @log_data.log_time %></td>
    </tr>

    <tr>
        <td><b>log_level:</b></td>
        <td><%= @log_data.log_level %></td>
    </tr>

    <tr>
        <td><b>req_url:</b></td>
        <td><%= @log_data.req_url %></td>
    </tr>

    <tr>
        <td><b>req_site:</b></td>
        <td><%= @log_data.req_site %></td>
    </tr>

    <tr>
        <td><b>stat_behaviour:</b></td>
        <td><%= @log_data.stat_behaviour %></td>
    </tr>

    <tr>
        <td><b>stat_search:</b></td>
        <td><%= @log_data.stat_search %></td>
    </tr>
</table>
